.idea/
.vscode/

__pycache__/

logs/*.log*
logs/*/*.log*
!logs/alerts/.gitkeep
!logs/general/.gitkeep

config/user_config_main.ini
config/user_config_nodes.ini
config/user_config_repos.ini
config/user_config_ui.ini

# sessions
src/web/ui/sessions/*.json*
!src/web/ui/sessions/.gitkeep

.coverage
htmlcov

# dependencies
node_modules/
/.pnp
.pnp.js

# production
build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
